aiofiles==23.2.1
aiohttp==3.8.5
aiosignal==1.3.1
aiosqlite==0.19.0
annotated-types==0.5.0
anyio==3.7.1
asttokens==2.2.1
async-timeout==4.0.3
attrs==22.1.0
backcall==0.2.0
black==23.9.1
blinker==1.6.2
certifi==2019.11.28
chardet==3.0.4
charset-normalizer==3.2.0
click==8.1.3
databases==0.8.0
dbus-python==1.2.16
decorator==5.1.1
distlib==0.3.6
distro-info===0.23ubuntu1
dnspython==2.4.2
email-validator==2.0.0.post2
exceptiongroup==1.1.3
execnet==1.9.0
executing==1.2.0
fastapi==0.103.1
filelock==3.12.2
flask==2.3.3
flask-sqlalchemy==3.0.5
Flask-WTF==1.1.1
frozenlist==1.4.0
greenlet==2.0.2
gunicorn==21.2.0
h11==0.14.0
httpcore==0.18.0
httptools==0.6.0
httpx==0.25.0
idna==2.8
importlib-metadata==5.0.0
iniconfig==1.1.1
ipython==8.10.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
multidict==6.0.4
mypy-extensions==1.0.0
packaging==23.1
parso==0.8.3
pathspec==0.11.2
pexpect==4.8.0
phonenumbers==8.13.2
pickleshare==0.7.5
platformdirs==3.8.1
pluggy==1.0.0
prompt-toolkit==3.0.36
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pydantic==2.3.0
pydantic-core==2.6.3
pydantic-settings==2.0.3
Pygments==2.14.0
PyGObject==3.36.0
pymssql==2.2.7
PyMySQL==1.1.0
pyodbc==4.0.35
pyparsing==3.0.9
pytest==7.1.3
pytest-cache==1.0
pytest-subtests==0.8.0
python-apt==2.0.1+ubuntu0.20.4.1
python-dotenv==0.21.1
python-multipart==0.0.6
PyYAML==6.0.1
requests==2.22.0
requests-unixsocket==0.2.0
six==1.14.0
sniffio==1.3.0
SQLAlchemy==1.4.49
stack-data==0.6.2
starlette==0.27.0
tomli==2.0.1
traitlets==5.9.0
typing-extensions==4.7.1
unattended-upgrades==0.1
urllib3==1.25.8
uvicorn==0.23.2
uvloop==0.17.0
virtualenv==20.23.1
watchfiles==0.20.0
wcwidth==0.2.6
websockets==11.0.3
werkzeug==2.3.7
WTForms==3.0.1
yarl==1.9.2
zipp==3.8.1
